@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


body {
	margin: 0;
	display:flex;
	flex-flow: column;
	min-height:100vh;
}	

blockquote {
	width:50%;
	align-self: center;
	font-weight:bold;
	margin: 20px 0px!important;
}

button	{
	margin:20px!important;
	width:60%;
	display:flex;
	padding:10px;
}

button:hover {
	background-color:#34495e!important;
	color:#fff!important;
}

h1 {
	text-align: center;
}

h1, h3 {
	font-family: Montserrat!important;
}

h3 {
	text-decoration: underline;
}

#articles {
	display:flex;
	flex-flow: column;
	flex: 1 3 50%;
	align-items: center;
	background-color: #fff!important;
	margin-bottom:-20px;
	padding: 0px 20px 30px;
	text-align: center;
}


#banner {
	display:flex;
	flex-flow:column;
	align-items: center;
	margin-bottom:10px;
	background-color: gainsboro;
	padding-bottom:20px;
}


#carlin-image {
	width: 50%;
	border-radius: 15px;
}

#content {
	padding: 20px 40px;
	display:flex;
	flex-flow: column;
	justify-content: flex-start;
	flex: 4 1 0%;
	

}

#finisher {
	display:flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color:gainsboro;
	padding: 20px 20px 30px;
	text-align: center;
}

#finisher > blockquote {
	margin: 0 20% !important;
}

#main {
	display:flex;
	flex-flow:column;
	justify-content: space-between;
}

#secondary {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-bottom:20px;
	background-color:gainsboro;
}

#videos {
	display:flex;
	flex-flow: column;
	flex: 2 1 50%;
	align-items: center;
	margin-right:10px;
	padding-bottom:20px;
}

.video {
	margin-top:10px!important;
	flex-basis:1 1 100%;
}


/* header/footer Styling */

.navbar {
	/*background: #34495e!important;*/
	padding:20px;
	margin-bottom:0!important;
}

.navbar-inverse .navbar-nav>li>a {
	color:#ecf0f1!important;
	font-size:1.5em;
}

.navbar .navbar-brand:hover {
	color:#2980b9!important;
}

.navbar .navbar-brand {
	color: #ecf0f1!important;
	font-size:2.5em;
}

footer {
	background:#333;
	color:white;
	height:70px;
	width:100%!important;
}

footer p {
	padding-top:15px;
	padding-left:auto;
	padding-right: auto;
	margin:auto;
	font-weight:bold;
	font-family: monospace;
}

footer a:link {
	text-decoration: none;
	color:#2980b9!important;
}

footer a:hover {
	color:#fff!important;
}

/* END header/footer Styling */

@media only screen and (min-width:768px){
	.video {
		
		width: 560px;
		height:315px;
	}

	blockquote {
		width:100%;
		align-self: center;
		margin: 20px -20px!important;
	}
}